<?xml version="1.0" encoding="utf-8"?>
<!-- Config file for Resharper CLI InspectCode -->
<InspectCodeOptions>
  <Debug>false</Debug>
  <Verbosity>WARN</Verbosity>
  <SolutionFile>ReportGenerator.AzureBlobHistoryStorage.sln</SolutionFile>
  <DisabledSettingsLayers/>
  <SuppressBuildInSettings>false</SuppressBuildInSettings>
  <Properties/>
  <TargetsForReferences/>
  <TargetsForItems/>
  <Extensions/>
  <OutputFile>inspect.xml</OutputFile>
  <OutputFileFormat>Xml</OutputFileFormat>
  <ParallelJobs>0</ParallelJobs>
  <UseAbsolutePaths>false</UseAbsolutePaths>
  <SolutionWideAnalysis>true</SolutionWideAnalysis>
  <IncludedProjects/>
  <DumpIssuesTypes>false</DumpIssuesTypes>
  <MinSeverity>WARNING</MinSeverity>
</InspectCodeOptions>
