name: CI/CD

on:
  push:
    branches: [ main ]
    tags:
      - v*
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
            7.0.x

      - name: Restore dependencies
        run: dotnet restore --locked-mode

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Test
        run: >
          dotnet test --no-build -c Release
          --logger:"junit;LogFilePath=./test-reports/results.{framework}.xml"
          --collect:"XPlat Code Coverage"

      - name: dotnet publish
        if: ${{ github.ref_type == 'tag' }}
        run: |
          dotnet publish --no-build -c Release -o publish-6.0 -f net6.0 src/ReportGenerator.AzureBlobHistoryStorage/ReportGenerator.AzureBlobHistoryStorage.csproj
          dotnet publish --no-build -c Release -o publish-7.0 -f net7.0 src/ReportGenerator.AzureBlobHistoryStorage/ReportGenerator.AzureBlobHistoryStorage.csproj

      - name: Upload artifact for deployment job
        if: ${{ github.ref_type == 'tag' }}
        uses: actions/upload-artifact@v3
        with:
          name: dll
          path: publish*


  release:
    needs: [ build-and-test ]
    name: Release
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v3
        with:
          name: dll

      - run: cd publish-6.0 && zip -r ../net6.0.zip ** && cd -
      - run: cd publish-7.0 && zip -r ../net7.0.zip ** && cd -

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          files: net*.zip
