name: CI/CD

on:
  push:
    branches: [ main ]
    tags:
      - v*
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8
            10

      - name: Restore dependencies
        run: |
          dotnet restore --locked-mode
          dotnet tool restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Inspect code
        run: dotnet jb inspectcode --config=inspectcode.config

      - name: Upload SARIF
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: inspect.sarif
          category: resharper-inspectcode

      - name: Test
        run: >
          dotnet test --no-build -c Release
          --logger:"junit;LogFilePath=./test-reports/results.{framework}.xml"
          --collect:"XPlat Code Coverage"

      - name: dotnet publish
        if: ${{ github.ref_type == 'tag' }}
        run: |
          dotnet publish --no-build -c Release -o publish-8.0 -f net8.0 src/ReportGenerator.AzureBlobHistoryStorage/ReportGenerator.AzureBlobHistoryStorage.csproj
          dotnet publish --no-build -c Release -o publish-10.0 -f net10.0 src/ReportGenerator.AzureBlobHistoryStorage/ReportGenerator.AzureBlobHistoryStorage.csproj

      - name: Upload artifact for deployment job
        if: ${{ github.ref_type == 'tag' }}
        uses: actions/upload-artifact@v4
        with:
          name: dll
          path: publish*


  release:
    needs: [ build-and-test ]
    name: Release
    runs-on: ubuntu-latest
    if: ${{ github.ref_type == 'tag' }}
    
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: dll

      - run: cd publish-8.0 && zip -r ../net8.0.zip ** && cd -
      - run: cd publish-10.0 && zip -r ../net10.0.zip ** && cd -

      - uses: LoremFooBar/action-automatic-releases@master
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: ${{ contains(github.ref_name, '-') }}
          files: net*.zip
